

section:first-child {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    
  }
  
  section:first-child header {
    padding-inline: 250px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 42px;
    transition: all 0.3s;
  }
  section:first-child header .logo {
    display: flex;
    gap: 8px;
    align-items: center;
  }
  section:first-child header .logo span:nth-child(1){
      font-size: 38px;
      color: #121418;
      background-color: white;
      border-radius: 50%;
      display: inline-block;
      padding: 6px 20px;
      font-family: "Stick No Bills", sans-serif;
      font-weight: 800;
      z-index: 11;
     
  }
  section:first-child header .logo span:nth-child(2) {
    font-size: clamp(1rem, 1rem + 1vw, 2.4rem);
    font-style: italic;
    font-weight: 500;
    z-index: 11;
   
  }
  section:first-child header nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
    transition: all 0.4s;
  }
  section:first-child header nav ul li:last-child{
    display: none;
  }
  section:first-child header nav ul li a {
    font-size: 16px;
    text-decoration: none;
    opacity: 0.6;
    color: white;
    transition: all 0.4s;
    position: relative;
    
  }
  section:first-child header nav ul li a:after{
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    bottom: -4px;
    margin: 0 auto;
    width: 0%;
    height: 2px;
    background-color: white;
    transition: all 0.2s;
  }

  section:first-child header nav ul a:hover:after{
    width: 100%;
  }

  section:first-child header nav ul a:hover{
    opacity: 1;
    font-weight: 1000;
   
  }
  section:first-child header nav ul li a.active:after{
    width: 100%;
  }

  section:first-child header nav ul li a.active{
    opacity: 1;
    font-weight: 1000;
  }


  section:first-child header a button{
    color: #293241;
    text-decoration: none;
    font-size: 16px;
    padding: 14px 24px;
    background-color: #FFFFFF;
    border-radius: 15px;
    cursor: pointer;
    border: none;
    transition: all 0.4s;
  }
  section:first-child header a button:hover {
    transform: scale(1.05);
    
  }

  section:first-child main {
    text-align: center;
    max-width: clamp(70%, 80%, 1320px);
    width: 100%;
    margin: 0 auto;
  }
  section:first-child main p {
    line-height: 25px;
    font-size: 24px;
    margin-top: 191px;
    opacity: 0.6;
    font-size: clamp(0.8rem, 0.7rem + 1vw, 1.5rem);
  }
  section:first-child main h1 {
    margin-top: 28px;
    font-weight: 700;
    font-size: clamp(1.5rem, 1rem + 3vw, 4.5rem);
    line-height: 138%;
    
  }
  section:first-child main .email-wrapper {
    width: clamp(300px, 60%, 600px);
    border: 1px solid white;
    display: flex;
    margin: 32px auto 0;
    border-radius: 1000px;
  }
  section:first-child main .email-wrapper input {
    background-color: transparent;
    flex: 1;
    border: none;
    outline: none;
    text-indent: 48px;
    color: white;
    font-size: clamp(12px, 0.5rem + 1vw, 19px);
  }
  section:first-child main .email-wrapper input::placeholder {
    color: white;
  }
  section:first-child main .email-wrapper button {
    border-radius: 1000px;
    border: none;
    font-weight: 700;
    font-size: clamp(12px, 0.5rem + 1vw, 19px);
    line-height: 21px;
    padding: 30px 40px;
    color: #293241;
    cursor: pointer;
  }
  section:first-child .dashboard-img {
    
    width: clamp(70%, 90%, 1320px);
    margin: 100px auto 0;
    box-shadow: 0px 170px 98px -130px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
  }
  section:first-child .dashboard-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .img-background{
    background: url(../assets/section1/rectangle2.png), url(../assets/section1/rectangle1.png);
    background-repeat: no-repeat;
    background-position: 0 0, 100% 0;
    z-index: -1;
    background-color: #0D1728;
    width: 100%;
    height: 82.5%;
    position: absolute;
  }

  .btn-mob{
    display: none;
    flex-direction: column;
    gap: 10px;
    background-color: transparent;
    border: none;
    z-index: 100;
  }

  .btn-mob span{
    border-radius: 10px;
    display: block;
    width: 40px;
    height: 5px;
    background-color: #FFFFFF;
    transition: all 0.4s;
  }

  @media (max-width: 1440px){
    section:first-child header{
      padding-inline: 40px;
    }
  }
  

  @media (max-width:1024px){
    section:first-child header nav ul{
      gap: 25px;
    }
    section:first-child header nav ul a {
      font-size: 14px;
    }
    section:first-child header a button {
      font-size: 14px;
      padding: 12px;
    }

    section:first-child main .email-wrapper button{
      padding: 16px;
    }
    
  }

  @media (max-width:960px){
    section:first-child header nav ul{
      position: fixed;
      inset: 0;
      z-index: 10;
      background-color: rgba(0,0,0,0.4);
      backdrop-filter: blur(8px);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transform: translate(100vw);
      
    }
    section:first-child header nav ul li a{
      opacity: 1;
    }
    section:first-child header > a{
       display: none;
    }

    section:first-child header nav ul li:last-child{
      display: block;
      margin-top: 100px;
    }
    
    .btn-mob{
      display: flex;
      
      right: 50px;
    }

    section:first-child header nav ul.active{
      transform: translate(0);
    }

    .btn-mob.active span:first-child{
      transform: rotate(-45deg) translate(-9px,9px);
    }
  
    .btn-mob.active span:nth-child(2){
        transform: rotate(45deg) translate(-1px,-1px);
    }
    .btn-mob.active span:last-child{
      display: none;
    }
   
  }



  @media (max-width:768px){
    section:first-child header .logo span:nth-child(1){
      font-size: 28px;
      padding: 5px 15px;
    }
    section:first-child header{
      padding-inline: 30px;
    }
  }